.contador {
    justify-content: center;
    border: 2px solid darkorchid;    
}

.contador button{
    width: 50px;    
    display: inline-block;    
    margin: 20px 10px;     
}

.contador h1{
    background-color: darkmagenta;
    width: 200px;
    justify-content: center;
    margin: 10px auto;
    border-radius: 5px;
    color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}